<?xml version="1.0" encoding="utf-8"?>
<!-- Set your package name here -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.celest.xash3d.bshift"
      android:versionCode="490"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="26"/>
    <!-- Set your application name here -->
    <application android:label="BSLauncher"
		 android:debuggable="false"
		 android:icon="@drawable/logo_xash_bshift">
    <!-- Set your launcher title here -->
        <activity android:name="in.celest.xash3d.LauncherActivity"
                  android:label="BSLauncher"
			android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
